JTB-Airline-Cruise/Web References/LocationService/CityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cityName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCityResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCities">
        <s:complexType />
      </s:element>
      <s:element name="GetCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitiesResult" type="tns:ArrayOfCity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cityId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCityResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cityId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cityName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCityResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCitySoapIn">
    <wsdl:part name="parameters" element="tns:AddCity" />
  </wsdl:message>
  <wsdl:message name="AddCitySoapOut">
    <wsdl:part name="parameters" element="tns:AddCityResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="GetCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCitySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="DeleteCitySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCitySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCity" />
  </wsdl:message>
  <wsdl:message name="UpdateCitySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCityResponse" />
  </wsdl:message>
  <wsdl:portType name="CityServiceSoap">
    <wsdl:operation name="AddCity">
      <wsdl:input message="tns:AddCitySoapIn" />
      <wsdl:output message="tns:AddCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input message="tns:GetCitiesSoapIn" />
      <wsdl:output message="tns:GetCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input message="tns:DeleteCitySoapIn" />
      <wsdl:output message="tns:DeleteCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <wsdl:input message="tns:UpdateCitySoapIn" />
      <wsdl:output message="tns:UpdateCitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CityServiceSoap" type="tns:CityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCity">
      <soap:operation soapAction="http://tempuri.org/AddCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap:operation soapAction="http://tempuri.org/DeleteCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap:operation soapAction="http://tempuri.org/UpdateCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CityServiceSoap12" type="tns:CityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCity">
      <soap12:operation soapAction="http://tempuri.org/AddCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap12:operation soapAction="http://tempuri.org/GetCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap12:operation soapAction="http://tempuri.org/DeleteCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCity">
      <soap12:operation soapAction="http://tempuri.org/UpdateCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CityService">
    <wsdl:port name="CityServiceSoap" binding="tns:CityServiceSoap">
      <soap:address location="https://localhost:44377/Web%20Services/CityService.asmx" />
    </wsdl:port>
    <wsdl:port name="CityServiceSoap12" binding="tns:CityServiceSoap12">
      <soap12:address location="https://localhost:44377/Web%20Services/CityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>