JTB-Airline-Cruise/Web References/SeaService/CruiselineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCruises">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="checkInDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="checkOutDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCruisesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCruisesResult" type="tns:ArrayOfCruise" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCruise">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cruise" nillable="true" type="tns:Cruise" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cruise">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CruiseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Cruiseline" type="tns:Cruiseline" />
          <s:element minOccurs="0" maxOccurs="1" name="Ship" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CruiseLength" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DeparturePort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VisitingPorts" type="tns:ArrayOfVisitingPort" />
          <s:element minOccurs="0" maxOccurs="1" name="CruisePrice" type="tns:ArrayOfCruisePrice" />
          <s:element minOccurs="0" maxOccurs="1" name="RoomTypes" type="tns:ArrayOfRoomType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cruiseline">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CruiselineID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CruiselineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cruises" type="tns:ArrayOfCruise" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVisitingPort">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VisitingPort" nillable="true" type="tns:VisitingPort" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VisitingPort">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cruise" type="tns:Cruise" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCruisePrice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CruisePrice" nillable="true" type="tns:CruisePrice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CruisePrice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cruise" type="tns:Cruise" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoomType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoomType" nillable="true" type="tns:RoomType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoomType">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cruise" type="tns:Cruise" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookCruise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="roomType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookCruiseResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLastCruiseID">
        <s:complexType />
      </s:element>
      <s:element name="GetLastCruiseIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastCruiseIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCruise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cruise" type="tns:_Cruise" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="_Cruise">
        <s:complexContent mixed="false">
          <s:extension base="tns:Record">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Cruiseline" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Ship" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CruiseLength" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DeparturePort" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VisitingPorts" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="CruisePrice" type="tns:ArrayOfFloat" />
              <s:element minOccurs="0" maxOccurs="1" name="RoomTypes" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Record">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFloat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="float" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCruiseResponse">
        <s:complexType />
      </s:element>
      <s:element name="AllCruises">
        <s:complexType />
      </s:element>
      <s:element name="AllCruisesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllCruisesResult" type="tns:ArrayOfCruise" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCruiseById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cruiseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCruiseByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCruiseByIdResult" type="tns:Cruise" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCruise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_cruise" type="tns:_Cruise" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCruiseResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCruise">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cruiseId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCruiseResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddCruiseline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cruiselineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCruiselineResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCruiselines">
        <s:complexType />
      </s:element>
      <s:element name="GetCruiselinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCruiselinesResult" type="tns:ArrayOfCruiseline" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCruiseline">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cruiseline" nillable="true" type="tns:Cruiseline" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteCruiseline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cruiselineId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCruiselineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCruiselineResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCruiseline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cruiselineId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cruiselineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCruiselineResponse">
        <s:complexType />
      </s:element>
      <s:element name="AllBookings">
        <s:complexType />
      </s:element>
      <s:element name="AllBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllBookingsResult" type="tns:ArrayOfCruiseBooking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCruiseBooking">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CruiseBooking" nillable="true" type="tns:CruiseBooking" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CruiseBooking">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CruiseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoomNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckInDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckOutDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PassengerId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BookingCost" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBookings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="passengerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookingsResult" type="tns:ArrayOfCruiseBooking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookingCount">
        <s:complexType />
      </s:element>
      <s:element name="GetBookingCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBookingCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCruiseCount">
        <s:complexType />
      </s:element>
      <s:element name="GetCruiseCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCruiseCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCruiseRevenue">
        <s:complexType />
      </s:element>
      <s:element name="GetCruiseRevenueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCruiseRevenueResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecentBookings">
        <s:complexType />
      </s:element>
      <s:element name="GetRecentBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecentBookingsResult" type="tns:ArrayOfCruiseBooking" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCruisesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCruises" />
  </wsdl:message>
  <wsdl:message name="GetCruisesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCruisesResponse" />
  </wsdl:message>
  <wsdl:message name="BookCruiseSoapIn">
    <wsdl:part name="parameters" element="tns:BookCruise" />
  </wsdl:message>
  <wsdl:message name="BookCruiseSoapOut">
    <wsdl:part name="parameters" element="tns:BookCruiseResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastCruiseIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastCruiseID" />
  </wsdl:message>
  <wsdl:message name="GetLastCruiseIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastCruiseIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddCruiseSoapIn">
    <wsdl:part name="parameters" element="tns:AddCruise" />
  </wsdl:message>
  <wsdl:message name="AddCruiseSoapOut">
    <wsdl:part name="parameters" element="tns:AddCruiseResponse" />
  </wsdl:message>
  <wsdl:message name="AllCruisesSoapIn">
    <wsdl:part name="parameters" element="tns:AllCruises" />
  </wsdl:message>
  <wsdl:message name="AllCruisesSoapOut">
    <wsdl:part name="parameters" element="tns:AllCruisesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCruiseByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCruiseById" />
  </wsdl:message>
  <wsdl:message name="GetCruiseByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCruiseByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCruiseSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCruise" />
  </wsdl:message>
  <wsdl:message name="UpdateCruiseSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCruiseResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCruiseSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCruise" />
  </wsdl:message>
  <wsdl:message name="DeleteCruiseSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCruiseResponse" />
  </wsdl:message>
  <wsdl:message name="AddCruiselineSoapIn">
    <wsdl:part name="parameters" element="tns:AddCruiseline" />
  </wsdl:message>
  <wsdl:message name="AddCruiselineSoapOut">
    <wsdl:part name="parameters" element="tns:AddCruiselineResponse" />
  </wsdl:message>
  <wsdl:message name="GetCruiselinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCruiselines" />
  </wsdl:message>
  <wsdl:message name="GetCruiselinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCruiselinesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCruiselineSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCruiseline" />
  </wsdl:message>
  <wsdl:message name="DeleteCruiselineSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCruiselineResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCruiselineSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCruiseline" />
  </wsdl:message>
  <wsdl:message name="UpdateCruiselineSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCruiselineResponse" />
  </wsdl:message>
  <wsdl:message name="AllBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:AllBookings" />
  </wsdl:message>
  <wsdl:message name="AllBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:AllBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookings" />
  </wsdl:message>
  <wsdl:message name="GetBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookingCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookingCount" />
  </wsdl:message>
  <wsdl:message name="GetBookingCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookingCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetCruiseCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetCruiseCount" />
  </wsdl:message>
  <wsdl:message name="GetCruiseCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetCruiseCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetCruiseRevenueSoapIn">
    <wsdl:part name="parameters" element="tns:GetCruiseRevenue" />
  </wsdl:message>
  <wsdl:message name="GetCruiseRevenueSoapOut">
    <wsdl:part name="parameters" element="tns:GetCruiseRevenueResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecentBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecentBookings" />
  </wsdl:message>
  <wsdl:message name="GetRecentBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecentBookingsResponse" />
  </wsdl:message>
  <wsdl:portType name="CruiselineServiceSoap">
    <wsdl:operation name="GetCruises">
      <wsdl:input message="tns:GetCruisesSoapIn" />
      <wsdl:output message="tns:GetCruisesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookCruise">
      <wsdl:input message="tns:BookCruiseSoapIn" />
      <wsdl:output message="tns:BookCruiseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastCruiseID">
      <wsdl:input message="tns:GetLastCruiseIDSoapIn" />
      <wsdl:output message="tns:GetLastCruiseIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCruise">
      <wsdl:input message="tns:AddCruiseSoapIn" />
      <wsdl:output message="tns:AddCruiseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllCruises">
      <wsdl:input message="tns:AllCruisesSoapIn" />
      <wsdl:output message="tns:AllCruisesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCruiseById">
      <wsdl:input message="tns:GetCruiseByIdSoapIn" />
      <wsdl:output message="tns:GetCruiseByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCruise">
      <wsdl:input message="tns:UpdateCruiseSoapIn" />
      <wsdl:output message="tns:UpdateCruiseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCruise">
      <wsdl:input message="tns:DeleteCruiseSoapIn" />
      <wsdl:output message="tns:DeleteCruiseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCruiseline">
      <wsdl:input message="tns:AddCruiselineSoapIn" />
      <wsdl:output message="tns:AddCruiselineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCruiselines">
      <wsdl:input message="tns:GetCruiselinesSoapIn" />
      <wsdl:output message="tns:GetCruiselinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCruiseline">
      <wsdl:input message="tns:DeleteCruiselineSoapIn" />
      <wsdl:output message="tns:DeleteCruiselineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCruiseline">
      <wsdl:input message="tns:UpdateCruiselineSoapIn" />
      <wsdl:output message="tns:UpdateCruiselineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllBookings">
      <wsdl:input message="tns:AllBookingsSoapIn" />
      <wsdl:output message="tns:AllBookingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <wsdl:input message="tns:GetBookingsSoapIn" />
      <wsdl:output message="tns:GetBookingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingCount">
      <wsdl:input message="tns:GetBookingCountSoapIn" />
      <wsdl:output message="tns:GetBookingCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCruiseCount">
      <wsdl:input message="tns:GetCruiseCountSoapIn" />
      <wsdl:output message="tns:GetCruiseCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCruiseRevenue">
      <wsdl:input message="tns:GetCruiseRevenueSoapIn" />
      <wsdl:output message="tns:GetCruiseRevenueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentBookings">
      <wsdl:input message="tns:GetRecentBookingsSoapIn" />
      <wsdl:output message="tns:GetRecentBookingsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CruiselineServiceSoap" type="tns:CruiselineServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCruises">
      <soap:operation soapAction="http://tempuri.org/GetCruises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookCruise">
      <soap:operation soapAction="http://tempuri.org/BookCruise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastCruiseID">
      <soap:operation soapAction="http://tempuri.org/GetLastCruiseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCruise">
      <soap:operation soapAction="http://tempuri.org/AddCruise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllCruises">
      <soap:operation soapAction="http://tempuri.org/AllCruises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiseById">
      <soap:operation soapAction="http://tempuri.org/GetCruiseById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCruise">
      <soap:operation soapAction="http://tempuri.org/UpdateCruise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCruise">
      <soap:operation soapAction="http://tempuri.org/DeleteCruise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCruiseline">
      <soap:operation soapAction="http://tempuri.org/AddCruiseline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiselines">
      <soap:operation soapAction="http://tempuri.org/GetCruiselines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCruiseline">
      <soap:operation soapAction="http://tempuri.org/DeleteCruiseline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCruiseline">
      <soap:operation soapAction="http://tempuri.org/UpdateCruiseline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllBookings">
      <soap:operation soapAction="http://tempuri.org/AllBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="http://tempuri.org/GetBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingCount">
      <soap:operation soapAction="http://tempuri.org/GetBookingCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiseCount">
      <soap:operation soapAction="http://tempuri.org/GetCruiseCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiseRevenue">
      <soap:operation soapAction="http://tempuri.org/GetCruiseRevenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentBookings">
      <soap:operation soapAction="http://tempuri.org/GetRecentBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CruiselineServiceSoap12" type="tns:CruiselineServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCruises">
      <soap12:operation soapAction="http://tempuri.org/GetCruises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookCruise">
      <soap12:operation soapAction="http://tempuri.org/BookCruise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastCruiseID">
      <soap12:operation soapAction="http://tempuri.org/GetLastCruiseID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCruise">
      <soap12:operation soapAction="http://tempuri.org/AddCruise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllCruises">
      <soap12:operation soapAction="http://tempuri.org/AllCruises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiseById">
      <soap12:operation soapAction="http://tempuri.org/GetCruiseById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCruise">
      <soap12:operation soapAction="http://tempuri.org/UpdateCruise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCruise">
      <soap12:operation soapAction="http://tempuri.org/DeleteCruise" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCruiseline">
      <soap12:operation soapAction="http://tempuri.org/AddCruiseline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiselines">
      <soap12:operation soapAction="http://tempuri.org/GetCruiselines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCruiseline">
      <soap12:operation soapAction="http://tempuri.org/DeleteCruiseline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCruiseline">
      <soap12:operation soapAction="http://tempuri.org/UpdateCruiseline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllBookings">
      <soap12:operation soapAction="http://tempuri.org/AllBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap12:operation soapAction="http://tempuri.org/GetBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingCount">
      <soap12:operation soapAction="http://tempuri.org/GetBookingCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiseCount">
      <soap12:operation soapAction="http://tempuri.org/GetCruiseCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCruiseRevenue">
      <soap12:operation soapAction="http://tempuri.org/GetCruiseRevenue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentBookings">
      <soap12:operation soapAction="http://tempuri.org/GetRecentBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CruiselineService">
    <wsdl:port name="CruiselineServiceSoap" binding="tns:CruiselineServiceSoap">
      <soap:address location="https://localhost:44377/Web%20Services/CruiselineService.asmx" />
    </wsdl:port>
    <wsdl:port name="CruiselineServiceSoap12" binding="tns:CruiselineServiceSoap12">
      <soap12:address location="https://localhost:44377/Web%20Services/CruiselineService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>